{% extends "base.html" %}
{% load static %}
{% block page_content %}
<head>
<title>Home</title>
</head>
<div class="col-md-8 offset-md-2">
	<h2 class='selfintro'>Self Introduction</a></h2>
	<hr>
	<img class="card-img-top" src="{% static 'img/cat.jpg' %}" alt="My image"/>
	<p>Hi I'm Jiawei a year 3 student in Ngee Ann Poly school of ICT. 
I'll be graduating in 2020 March.</p>
</div>
<div class="col-md-8 offset-md-2">
<h2 class='resume'>Resume</h2>
<hr>
<h3>Experiences</h3>
<li>IT Intern at Moet Hennessy Singapore</li>
<li>IT Support at BoardRoom Limited</li>
<hr>
<h3>Education</h3>
<hr>
<li>Ngee Ann Poly</li>
<li>ITE College Central</li>
<hr>
<h3>Skills</h3>
<hr>
<li>Programming</li>
<li>Networking</li>
<hr>
</div>
{% endblock %}